services:
  runner-cli:
    container_name: runner-cli
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./roms:/roms/
      - ./fs:/fs
      - /tmp/.X11-unix:/tmp/.X11-unix
    ports:
      - 3000:3000
      - 3001:3001
    environment:
      - DISPLAY=$DISPLAY
    #entrypoint: sh -c "desmume-cli /roms/filesystem-nds.nds --disable-sound --cflash-image /fs/fat.img"

  watchdog:
    container_name: watchdog
    build:
      context: .
      dockerfile: watchdog.Dockerfile
    volumes:
      - ./fs:/fs
      - /var/run/docker.sock:/var/run/docker.sock
    depends_on:
      - runner-cli
    restart: "no"
    privileged: true
