services:
  desmume:
    container_name: desmume
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./roms:/home/desmume/roms
      - ./fs:/home/desmume/fs
      - ./logs:/home/desmume/logs
      - /tmp/.X11-unix:/tmp/.X11-unix        # no X11 socket bind needed in VNC mode
    ports:
      - "1000:1000"  # Emulator debug
      - "3000:3000"
      - "3001:3001"
      - "5900:5900"
    environment:
      - DISPLAY=$DISPLAY
      - MODE=host
      - XVFB_DISPLAY=:99
      - GEOMETRY=1024x768x24
      - VNC_PORT=5900
      # ROM=/roms/rom.nds  # To supply the ROM to execute. If not, the first .nds file found in /roms will be executed
      # - VNC_PASSWORD=secret
    #entrypoint: sh -c "desmume-cli /roms/filesystem-nds.nds --disable-sound --cflash-image /fs/fat.img"

