services:
  desmume:
    container_name: desmume
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./roms:/roms
      - ./fs:/fs
      - /tmp/.X11-unix:/tmp/.X11-unix        # no X11 socket bind needed in VNC mode
    ports:
      - "1000:1000"  # Emulator debug
      # - "5900:5900"  # VNC
    environment:
      - DISPLAY=$DISPLAY
      - MODE=host
      # - VNC_PASSWORD=secret
    #entrypoint: sh -c "desmume-cli /roms/filesystem-nds.nds --disable-sound --cflash-image /fs/fat.img"

